body {
    top: 0px;
    left: 0px;
    width: max;
    height: max;
}

header {
    background-color: #0020f4;
}

nav {
    text-align: left;
    background-color: #0020f4;
    width: max;
    height: max;
}

li {
    color: white;
}

a {
    background-color: #0020f4;
    color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: #0020f4;
}

h1 {
    background-color: #e8f5e9;
    border: #b3efb8;
    margin-top: max;
    margin-right: max;
    margin-bottom: max;
    margin-left: max;
}

.start {
    margin-top: max;
    margin-right: max;
    margin-bottom: max;
    margin-left: max;
    padding: min;
    font-size: small;
}

.middle {
    margin-top: max;
    margin-right: max;
    margin-bottom: max;
    margin-left: max;
    padding: min;
    font-size: small;
}

.second {
    margin-top: max;
    margin-right: max;
    margin-bottom: max;
    margin-left: max;
    padding: min;
    font-size: small;
}

.end {
    margin-top: max;
    margin-right: max;
    margin-bottom: max;
    margin-left: max;
    padding: min;
    font-size: small;
}

h3 {
    border-radius: 100px;
    max-width: 351px;
    max-height: 55px;
    background-color: #0020f4;
    color: white;
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: auto;
}